.btn{
    font-family: sans-serif;
    border: 2px solid black;
    background: white;
    color: black;
    font-weight: bold;
    padding: 14px 25px;
    gap: 10px;
}

.info{
    border-color: #2196F3;
    color: dodgerblue;
    margin: .5em;
}

.info:hover{
    background: #2196F3;
    color: white;
    font-size: 20px;
}